.idea/*
db/couch
db/couch/*
log/*
tmp/*
rerun.txt
debug.html
.DS_Store
*swp
*~
*.swp
*.swo
*.orig
.autotest
*.iml
tags
vendor/ruby/1.8/bin/
vendor/ruby/1.8/doc/
vendor/ruby/1.8/specifications/
vendor/ruby/1.8/gems/
.bundle
sunspot-solr.pid
.rvmrc
.vagrant
bin
.redcar/*
capybara_features/resources/huge.jpg
capybara_features/resources/huge.mp3
public/assets/*
public/assets/common.js.gz
config/couchdb.yml
*.pem
lib/tasks/windows
vendor/bundle
Gemfile.lock
*.deb
