.idea/*
db/*
log/*
tmp/*
rerun.txt
debug.html
.DS_Store
*swp
*~
*.swp
*.swo
*.orig
.autotest
*.iml
tags
vendor/ruby/1.8/bin/
vendor/ruby/1.8/doc/
vendor/ruby/1.8/specifications/
vendor/ruby/1.8/gems/
/.bundle/
sunspot-solr.pid
.rvmrc
bin
.redcar/*
features/resources/huge.jpg
features/resources/huge.mp3


