db/couch/*
log/*
tmp/*
.idea/*
rerun.txt
debug.html
.DS_Store
*swp
*~
*.swp
*.swo
*.orig
*.pid
*.iml
*.pem
*.msi
*.deb
*.xls
*.irb-history
.autotest
.bundle
.redcar/*
.rvmrc
.vagrant
bin
capybara_features/resources/huge.jpg
capybara_features/resources/huge.mp3
tags
public/assets/
config/couchdb.yml
vendor/bundle/
vendor/cache/
vendor/ruby/
