<p>
  <%= label_tag check_box.tag_name_attribute, check_box.name.humanize %>
  <%= hidden_field_tag check_box.tag_name_attribute, "No" %>
  <%= check_box_tag check_box.tag_name_attribute, "Yes", check_box.value == "Yes", :id => "id " + check_box.tag_name_attribute %>
</p>