<p>
  <%= label_tag check_box.tag_name_attribute, check_box.display_name %>
  <%= hidden_field_tag check_box.tag_name_attribute, "No" %>
  <%= check_box_tag check_box.tag_name_attribute, "Yes", @child[check_box.name] == "Yes", :id => "id " + check_box.tag_name_attribute %>
</p>
