<p class='checkbox'>
  <%= hidden_field_tag check_box.tag_name_attribute, "No", :id => nil %>
  <%= check_box_tag check_box.tag_name_attribute, "Yes", @child[check_box.name] == "Yes", :id => check_box.tag_name_attribute %>
  <%= label_tag check_box.tag_name_attribute, check_box.display_name %>
  <% if check_box.help_text.present?%>
	<img class="tool-tip-icon vtip" title="<%=check_box.help_text%>" src="/images/tool_tip_icon.gif"/>
  <% end%>
</p>
