<p>
  <span class="tool-tip-label">
      <%= label_tag date_field.tag_name_attribute, date_field.display_name %>
      <% if date_field.help_text.present?%>
        <img class="tool-tip-icon vtip" title="<%=date_field.help_text%>" src="/images/tool_tip_icon.gif"/>
      <% end%>
  </span>
  <%= text_field_tag date_field.tag_name_attribute, @child[date_field.name] %>
  <%= javascript_tag "$(document).ready(function(){ $(\"##{date_field.tag_id}\").datepicker({ dateFormat: 'dd M yy' }); });" %>

</p>
