<div class="filter-box">
	<p>Filter by:</p>
	<ul>
		<li class="first"><%= link_for_filter('all', @filter) %></li>
		<li><%= link_for_filter('reunited', @filter) %></li>
		<li><%= link_for_filter('flagged', @filter) %></li>
		<li><%= link_for_filter('active', @filter) %></li>
	</ul>
</div>