<form class="filter_panel">
	Filter by:
  <div class="float_left"> <%= select_tag :filter, options_for_select([["Active","active"],[ "All", "all" ],["Reunited","reunited"],["Flagged","flagged"]], params[:filter]), { :onchange => "this.form.submit();"} %> </div>
</form>