<div class="filter-box">
	<p>Filter by status:</p>
	<ul>
		<li><a href="<%= child_filter_path('all') %>">All</a></li>
		<li><a href="<%= child_filter_path('reunited') %>">Reunited</a></li>
		<li><a href="<%= child_filter_path('flagged') %>">Flagged</a></li>
		<li><a href="<%= child_filter_path('active') %>">Active</a></li>
	</ul>
</div>