<form class="filter_panel">
	<%= t("children.filter_by.label") %>:
  <span> <%= select_tag :filter, options_for_select([[ t("children.filer_by.all"), "all" ],[t("children.filer_by.active"),"active"],[t("children.filer_by.reunited"),"reunited"],[t("children.filer_by.flagged"),"flagged"]], @filter), { :onchange => "this.form.submit();"} %> </span>
</form>
