<fieldset id="tab_1" class="personal-details tab">
  
  <h3>Basic details</h3>
  <% @child_view.fields.each do |field| %>
        <%= render :partial => field.type, :object => field %>
  <% end %>

</fieldset>