<fieldset id="tab_1" class="personal-details tab">
  
  <h3>Basic details</h3>
  <% @child_view.fields.each do |field| %>
        <%= render :partial => field.type, :object => field %>
  <% end %>

 <p class="file">
  <%= label_tag "child[photo]", "Photo" %>
  <%= file_field_tag "child[photo]" %>
</p>

</fieldset>