<h1 class="no_border float_left"><%= t("children.label") %></h1>
<% if can? :create, Child %>
    <%= link_to content_tag(:span, t("children.register_new_child"), :class => 'create_user'), new_child_path, :class=>'btn' %>
<% end %>

<% if can?(:export, Child) %>
    <div class="btn dropdown_btn">
      <span class="export"><%= t("children.export") %></span>
      <div class="dropdown hide">
        <% if can?(:export, Child) %>
          <% RapidftrAddon::ExportTask.active.each do |addon| %>
            <%= link_to t("addons.export_task.#{addon.id}.all"), children_path(:format => addon.id, :per_page => :all), :class => "password-prompt" %>
          <% end %>
      <%end%>
      </div>
    </div>

    <script type="text/javascript">
      $(".export-password-prompt").each(function() {
        var el = $(this);
        el.data("original-href", el.attr("href"));
        el.data("password", null);
      });

      $(".export-password-prompt").click(function() {
        var el=$(this), password=el.data("password"), href=el.attr("original-href");
        if (password == null || password == undefined || password == "") {
          password = prompt("Enter password");
          el.attr("href", href + (href.indexOf("?") == -1 ? "?" : "") + "&password=" + escape(password);
        }
      });
    </script>

<%end%>