<p>
  <%= label_tag numeric_field.tag_name_attribute, numeric_field.display_name %>
  <% klass = @child.errors.on(numeric_field.name) == nil ? "" : "field-error"%>
  <span class="<%= klass %>">
    <%= text_field_tag numeric_field.tag_name_attribute, @child[numeric_field.name], :class => 'number', :message => "#{numeric_field.name.titleize} must be a valid number" %> 
  </span>
</p>