<p>
  <span class="tool-tip-label">
      <%= label_tag numeric_field.tag_name_attribute, numeric_field.display_name %>
      <% if numeric_field.help_text.present?%>
        <img class="tool-tip-icon vtip" title="<%=numeric_field.help_text%>" src="/images/tool_tip_icon.gif"/>
      <% end%>
  </span>
  <% klass = @child.errors.on(numeric_field.name) == nil ? "" : "field-error"%>
  <span class="<%= klass %>">
    <%= text_field_tag numeric_field.tag_name_attribute, @child[numeric_field.name] %> 
  </span>

</p>
