<form  class="orderby_panel">
  <input type="hidden" name="filter" value="<%= @filter %>"/>
	<%= t("children.order_by.label") %>:
  <ul class="orderby_list">
    <span>
      <li class="first">
      <% options = order_options_array_from(@system_fields, @forms) %>
      <%= select_tag :order_by, grouped_options_for_select(options, @order), { :style => "width: 100%;", :onchange => "this.form.submit();"} %>
      </li>
  </span>
	</ul>
</form>

<script>
  $(document).ready(function() { $("#order_by").select2(); });
</script>
