<form  class="orderby_panel">

  <input type="hidden" name="filter" value="<%= @filter %>"/>
	<%= t("children.order_by.label") %>:
  <ul>
    <span>
      <li class="first">
      <% no_filter = @filter == 'all' || @filter.nil?
         order_by_options = [[t("children.order_by.most_recently") + " " + t("children.filter_by.#{no_filter ? 'created' : @filter}").downcase,
                              ChildrenHelper::ORDER_BY[@filter]]]
         order_by_options << [t("children.order_by.most_recently") + " " + t('children.order_by.created').downcase, "created_at"] unless no_filter
       %>
      <%= select_tag :order_by, options_for_select(order_by_options, @order), { :onchange => "this.form.submit();"} %>
      </li>
  </span>
	</ul>
</form>
