<form  class="orderby_panel">

  <input type="hidden" name="filter" value="<%= @filter %>">
	<%= t("children.order_by.label") %>:
	<ul>
	  <% filter_name = @filter %>
	  <% filter_name = 'created' if @filter == 'all' or @filter == 'active' or @filter.nil? %>
    <span><li class="first"><%= select_tag :order_by, options_for_select([[t("children.order_by.most_recently")+" "+ t("children.filter_by.#{filter_name}").downcase, "most recently"+" #{filter_name}"], [t('children.order_by.name'), "name"]], @order), { :onchange => "this.form.submit();"} %></li></span>
	</ul>
</form>