<p class="file">
  <%= label_tag photo_upload_box.tag_name_attribute, photo_upload_box.display_name %>
  <%= file_field_tag photo_upload_box.tag_name_attribute %>
  <% if photo_upload_box.help_text.present?%> 
  <br />
  <span class='help-text-container'>
    <span class='help-text'>
      <%=photo_upload_box.help_text%>
    </span>
  </span>
  <% end%>
</p>
<% unless @child.id.nil? %>
 <label>&nbsp;</label><div class="thumbnail"><%= thumbnail_tag(@child, @child[photo_upload_box.name]) %></div>
<% end %>
