<% 5.times do |i|%>
<p class="file">
  <%= label_tag "child[photo]", "Photo" %>
  <%= file_field_tag "child[photo]#{i}" %>
  <% if photo_upload_box.help_text.present?%> 
  <br />
  <span class='help-text-container'>
    <span class='help-text'>
      <%=photo_upload_box.help_text%>
    </span>
  </span>
  <% end%>
</p>
<% end %>

<% @child.photos.each do |photo| %>
    <div class="thumbnail"><%= thumbnail_tag(@child, photo.name) %></div>
<% end %>
