<p class="file">
  <%= label_tag "child[photo]", "Photo" %>
  <%= file_field_tag "child[photo]0" %>
  <% if photo_upload_box.help_text.present?%> 
  <br />
  <span class='help-text-container'>
    <span class='help-text'>
      <%=photo_upload_box.help_text%>
    </span>
  </span>
  <% end%>
</p>
<% if !@child.id.nil? %>
<div class="thumbnail"><%= thumbnail_tag(@child) %></div>
<% end %>
