<div class="profile-image">
   <a href='<%= child_photo_path(@child, nil) %>'><%= image_tag child_photo_path(@child, nil) %></a>
    <p class="view-full-size">Click on the Image to see full size</p>
</div>

