<fieldset id='tab_potential_matches' class='tab'>
  <% confirmed_matches = model.confirmed_matches %>
  <% unless confirmed_matches.empty? %>
    <div class="clearfix"></div>
    <h2><%= t('enquiry.confirmed_matches') %></h2>
    <div class="clearfix"></div>
    <div class="form_info"></div>
    <div class="entity_list">
      <% confirmed_matches.each do |match| %>
        <%= render :partial => "enquiries/summary_row",
                   :locals => {:enquiry => match.enquiry,
                               :score => match.score,
                               :child => model,
                               :confirmed_match => match,
                               :checkbox => false,
                               :highlighted_fields => child_sorted_highlighted_fields,
                               :rendered_by_show_enquiry => true} %>
      <% end %>
    </div>
    <br>
    <br>
    <br>
  <% end %>

  <% unless model.potential_matches.empty? %>
    <div class="clearfix"></div>
    <h2><%= t('enquiry.potential_matches') %></h2>
    <div class="clearfix"></div>
    <div class="form_info"></div>
    <div class="entity_list">
      <% model.potential_matches.each do |match| %>
        <%= render :partial => "enquiries/summary_row",
                   :locals => {:enquiry => match.enquiry,
                               :child => model,
                               :score => match.score,
                               :confirmed_match => confirmed_matches.first,
                               :checkbox => false,
                               :highlighted_fields => child_sorted_highlighted_fields,
                               :rendered_by_show_enquiry => true} %>
      <% end %>
    </div>
  <% end %>
</fieldset>
