<dl class="radioList">
  <dt><%= radio_button.name.humanize %></dt>

  <dd>
    <% radio_button.options.each do |option| %>
        <p>
          <%= radio_button_tag radio_button.tag_name_attribute, option.option_name, option.option_name == radio_button.value %>
          <%= label_tag option.tag_id, option.option_name %>
        </p>
    <% end %>
  </dd>
</dl>
