<% has_results = (@results && @results.size > 0) %>
<%- form_tag photo_pdf_children_path, :method => :post do %>

  <br /> 
  <div class="profiles-list">
    <%= render :partial => "summary_row", :collection => @results %>
    <%= "No results found" if @results.try(:size) == 0 %>
  </div>

  <%= submit_tag "Export to PDF" if has_results %>
<%-end%>

<%= link_to( "Export to CSV", current_url_with_format_of('csv') ) if has_results %>
