<% has_results = (@results && @results.size > 0) %>
<%- form_tag export_data_children_path, :method => :post do %>

  <br /> 
  <div class="profiles-list">
    <%= render :partial => "summary_row", :collection => @results %>
    <%= "No results found" if @results.try(:size) == 0 %>
  </div>

  <%= submit_tag "Export to PDF" if has_results %>
  <%= submit_tag "Export to CSV" if has_results %>
<%-end%>

