<p>
  <%= label_tag select_box.tag_name_attribute, select_box.name.humanize %>
  <%= select_tag select_box.tag_name_attribute, options_for_select(select_box.select_options,@child[select_box.name] ) %>
</p>
