<tr>
  <td><%=check_box_tag summary_row['_id'], '1', false, :class => 'row_selector'%></td>
<% Templates.get_search_result_template.each do |field| %>
<td><%= summary_row[field["name"]] %></td>
<% end %>
<td><%= link_to "full record", child_path(summary_row) %></td>
<%if @show_thumbnails%>
  <td><%=thumbnail_image_tag(summary_row)%></td>
<%end%>
</tr>
