    <ul class="tab-handles">
      <li class="current"><a href="#tab_1">Personal details</a></li>
      <li><a href="#tab_2">Family details</a></li>
      <li><a href="#tab_3">Care giver</a></li>
      <li><a href="#tab_4">Protection concerns</a></li>
    </ul>