<ul class="tab-handles">
  <% is_first_tab = true %>
  <% tabs.each do |tab_name| %>
      <% if is_first_tab %>
          <li class="current">
      <% else %>
          <li>
      <% end %>
      <a href="#tab_<%= tab_name %>"><%= tab_name.humanize %></a>
      </li>
      <% is_first_tab = false %>
  <% end %>
</ul>