<p>
  <span class="tool-tip-label">
      <%= label_tag textarea.tag_name_attribute, t(textarea.name,:default => textarea.display_name) %>
      <% if textarea.help_text.present?%>
        <img class="tool-tip-icon vtip" title="<%=textarea.help_text%>" src="/images/tool_tip_icon.gif"/>
      <% end%>
  </span>
  <%= text_area_tag textarea.tag_name_attribute, @child[textarea.name] %>
</p>
