<p>
  <%= label_tag text_field.tag_name_attribute, text_field.display_name %>
  <%= text_field_tag text_field.tag_name_attribute, @child[text_field.name] %>
  <% if text_field.help_text.present?%> <br />
      <div class='help-text-container'><span class='help-text'><%=text_field.help_text%></span></div>
      <% end%>
</p>
