<div class="profile-header">
  <dl>
    <dt>Unique Id:</dt>
    <dd><%= @child["unique_identifier"] %></dd>
  </dl>
</div>

<% form_for @child, :url => update_photo_url, :html => {:method => :put} do |f| %>
    <div class="profile-image display_photo">
      <%= image_tag child_photo_path(@child, @child.primary_photo_id), :id => "child_picture" %>
    </div>
    <%= hidden_field_tag "child[photo_orientation]", "0"  %>
    <div class="profile-tools" id="image_rotation_links">
      <ul>
        <li><a href="#" class="rotate_anti_clockwise">Rotate Anti-Clockwise</a></li>
        <li><a href="#" class="restore_image">Restore Original Image</a></li>
        <li><a href="#" class="rotate_clockwise">Rotate Clockwise</a></li>
      </ul>
    </div>
    <%= f.submit "Save" %>

<% end %>

