<% form_tag child_path(@child), :method => :put, :multipart => true, :class => "edit-profile default-form" do %>

    <%= render :partial => "tabs" %>

    <%= error_messages_for :child %>

    <%= render :partial => "form" %>

    <p class="submitButton">
      <input name="commit" type="submit" value="Finish"/>
    </p>
    <p class="cancelButton">
      <%= link_to 'Cancel', children_path %>
    </p>


<% end %>