<h2>All children</h2>

<p><%= link_to 'Register New Child', new_child_path %></p>

<%= render :partial => "children/summary_row", :collection => @children, :locals => { :checkbox => false } %>

<br/>

<p><%= link_to "Back",:back %></p>
