<%= render :partial => "children/header" %>
<script type="text/javascript" src="public/javascripts/flag_children.js">
</script>
<div class="clearfix"></div>

<div class="filter_bar">
<%= render :partial => "children/filter_box" %>
<%= render :partial => "children/order_by_box" %>
</div>

<div class="child_list">
	<%= render :partial => "children/summary_row", :collection => @children, :as => :child, :locals => { :checkbox => false }  %>
</div>

<br/>

