<% form_tag  children_path, :multipart => true, :class => "edit-profile default-form" do %>

    <%= error_messages_for :child %>

    <ul class="tab-handles">
      <li class="current"><a href="#tab_1">Personal details</a></li>
      <li><a href="#tab_2">Family details</a></li>
      <li><a href="#tab_3">Care giver</a></li>
      <li><a href="#tab_4">Protection concerns</a></li>
    </ul>

    <%= render :partial => "form" %>

    <fieldset id="tab_2" class="family-details tab">
      <h3>family details</h3>
    </fieldset>
    <fieldset id="tab_3" class="care-giver-details tab">
      <h3>Care Giver</h3>
    </fieldset>
    <fieldset id="tab_4" class="protection-details tab">
      <h3>Protection concerns</h3>
    </fieldset>


    <p>
      <%= label_tag "child[photo]", "Photo" %><br/>
      <%= file_field_tag "child[photo]" %>
    </p>

    <p class="submitButton">
      <input name="commit" type="submit" value="Finish"/>
    </p>
    <p class="cancelButton">
      <a href="/children">Cancel</a>
    </p>

<% end %>
