<% form_tag children_path, :multipart => true, :class => "edit-profile default-form" do %>

    <%= error_messages_for :child %>

    <%= render :partial => "tabs", :object => @form_sections.collect { |section| section.section_name } %>

    <%= render :partial => "form_section", :collection => @form_sections %>

    <p class="submitButton">
      <input name="commit" type="submit" value="Finish"/>
    </p>
    <p class="cancelButton">
       <%= link_to 'Cancel', children_path %>
    </p>

<% end %>
