
<p>
  <%= image_tag child_path(@child)+".jpg" %>
</p>


<%= render :partial => "form_show", :locals => {:form => @child.as_form} %>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>