
<p>
  <%= image_tag child_path(@child)+".jpg" %>
</p>

<% Schema.get_schema.each do |form| %>
    <%= render :partial => "form_show", :locals => {:form => form, :form_details => @child[form["name"]]} %>
<% end %>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>