<h2>Suspect Records</h2>

<div class="entity_list">
  <% #Change me! %>
  <%= render :partial => "children/summary_row", :collection => @children, :as => :child, :locals => { :checkbox => false, :highlighted_fields => child_sorted_highlighted_fields } %>
</div>

<br/>

<p><%= link_to "Back",:back %></p>
