<h2>Suspect Records</h2>

<% #Change me! %>
<%= render :partial => "children/summary_row", :collection => @children, :as => :child, :locals => { :checkbox => false, :highlighted_fields => FormSection.sorted_highlighted_fields } %>

<br/>

<p><%= link_to "Back",:back %></p>
