<%= render :partial => "search_form" %>
<ul>
  <% @results.each do |result| %>
      <li><%= result %></li>
  <% end %>
</ul>

<table>
  <tr>
    <% Templates.get_search_result_template.each do |field| %>
        <th><%= field['name'].humanize %></th>
    <% end %>
  </tr>
  <%= render :partial => "summary_row", :collection => @results %>

</table>
