<h1 class="float_left no_border"> <%= t("enquiry.change_log") %> &gt; <%= link_to @enquiry.id, enquiry_path(@enquiry) %></h1>
<div class="clearfix"></div>

<div class="profile-header">
  <ul class="history-details">
    <% @enquiry.ordered_histories.each do |history| %>
      <% history['changes'].each_pair do |field, change| %>
        <% history_entry = history_entry_for_enquiry_field(history, field, change) %>
        <% unless history_entry.empty? %>
          <li>
            <div>
              <%= render :partial => history_entry[:partial], :locals => history_entry[:locals] %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
    
  </ul>
</div>

<div class="profile-tools">
  <ul>
    <li class="back"><%= link_to t("buttons.back"), enquiry_path(@enquiry) %></li>
  </ul>
</div>
