<%= javascript_include_tag "manage_devices.js" %>
<h1 class="no_border float_left">Devices</h1>
<div class="page-content-new">
  <div class="side-tab-content full_width">
    <table id="devices" class="list_table">
      <thead>
      <tr>
        <th>IMEI</th>
        <th>User Name</th>
        <th>Blacklisted?</th>
      </tr>
      </thead>
      <tbody>
      <% @devices.each do |device| %>
          <tr>
            <td><%= device.imei %></td>
            <td><%= device.user_name %></td>
            <td><input class="device_blacklist_check_box" type="checkbox" id="<%= device.imei %>"
                       <% if device.blacklisted == "true" %> checked="checked"
                       <% end %>>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div id="modal-dialog" class="hide"></div>
  </div>
</div>