<h1>System Settings</h1>

  <br /><p><%= link_to 'Admin Contact Information', edit_contact_information_path(:administrator) %></p>

  <br /><p><%= link_to 'Highlight Fields', highlight_fields_path %></p>
