<h1>System Settings</h1>

  <% if can? :manage, ContactInformation %>
    <br /><p><%= link_to 'Admin Contact Information', edit_contact_information_path(:administrator) %></p>
  <% end %>

  <% if can? :manage, FormSection %>
    <br /><p><%= link_to 'Highlight Fields', highlight_fields_path %></p>
  <% end %>
