html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: $default-font-size;
  background:#eee;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


a{
  color:$link_color;
  text-decoration: none;
}
a:hover{
  color:$link_hover_color;
}

/* For modern browsers */
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom:1;
}

@mixin hide_text{
  font-size:0px;
  text-indent: -100000px;
}

@mixin borderRadius{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
}

input[type=text]{
  background: $bg-textbox;
  font-size: 1em;
  padding:2px;
  border:1px solid #ddd;
  @include borderRadius;
}

input[type=button]{
  background:$bg-gray-btn;
  padding:2px 5px;
  font-size:1em;
  cursor:pointer;
  border:1px solid #333;
  @include borderRadius;
}
input[type=button]:hover{
  background:$bg-gray-btn;
}