$default-font-size: 13px;
$default-font-family:verdana, arial, helvetica, sans-serif;
$text-color: #333;
$link-color: #6ec3ff;
$link-hover-color:#0096ff;

$bg-header: #30343d;
$header-text-color: #fff;
$bg-main-nav:#4b515f;
$main-nav-color:#ccc;
$main-nav-hover-color:#eee;
$main-nav-sel-color:#fff;


$bg-textbox: #fff;
$bg-gray-btn: url(../images/new/bg_gray_btn.png) #ababab repeat-x;