/* line 13, sass/_new_global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, sass/_new_global.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, sass/_new_global.scss */
body {
  line-height: 1;
  font-size: 13px;
  background: #eee;
}

/* line 31, sass/_new_global.scss */
ol, ul {
  list-style: none;
}

/* line 34, sass/_new_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 40, sass/_new_global.scss */
a {
  color: #6ec3ff;
  text-decoration: none;
}

/* line 44, sass/_new_global.scss */
a:hover {
  color: #0096ff;
}

/* For modern browsers */
/* line 49, sass/_new_global.scss */
.clearfix:before, .page-content .page-content-new:before, .clearfix:after, .page-content .page-content-new:after {
  content: "";
  display: table;
}

/* line 53, sass/_new_global.scss */
.clearfix:after, .page-content .page-content-new:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 57, sass/_new_global.scss */
.clearfix, .page-content .page-content-new {
  zoom: 1;
}

/* line 80, sass/_new_global.scss */
input[type=text] {
  background: white;
  font-size: 1em;
  padding: 2px;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 88, sass/_new_global.scss */
a.btn {
  background: url(../images/new/bg-gray-btn.png) #cfcfcf repeat-x;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #9f9f9f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: black;
}

/* line 97, sass/_new_global.scss */
input[type=button]:hover, a.btn:hover {
  background: url(../images/new/bg-gray-btn-hover.png) #bababa repeat-x;
}

/* line 102, sass/_new_global.scss */
a.btn span {
  display: block;
  padding: 8px 10px 8px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
/* line 108, sass/_new_global.scss */
a.btn span.create_user {
  background-image: url(../images/new/icon_create_user.png);
}

/* line 114, sass/_new_global.scss */
.list_table {
  margin-top: 10px;
}
/* line 119, sass/_new_global.scss */
.list_table th, .list_table td {
  padding: 8px;
}
/* line 122, sass/_new_global.scss */
.list_table th {
  background: #4b515f;
  color: white;
}
/* line 127, sass/_new_global.scss */
.list_table tr:nth-child(odd) td {
  background: #fff;
}
/* line 131, sass/_new_global.scss */
.list_table tr:nth-child(even) td {
  background: #eee;
}

/* line 1, sass/_new_layout.scss */
.page-content {
  background: #fff;
  margin-top: 20px;
  padding: 10px;
  min-height: 400px;
}
/* line 7, sass/_new_layout.scss */
.page-content h1 {
  font-size: 1.5em;
  border-bottom: 1px solid #d4d4d4;
  color: #333333;
  padding: 5px 10px 10px 0px;
}
/* line 14, sass/_new_layout.scss */
.page-content .page-content-new {
  border-bottom: 1px solid #d4d4d4;
  background: #eee;
  min-height: 300px;
}
/* line 20, sass/_new_layout.scss */
.page-content .page-content-new .side-tab {
  float: left;
  width: 200px;
  height: 100%;
}
/* line 26, sass/_new_layout.scss */
.page-content .page-content-new .side-tab ul {
  list-style: none;
  margin-top: 10px;
  list-style-position: inside;
}
/* line 31, sass/_new_layout.scss */
.page-content .page-content-new .side-tab ul a {
  background: #fff;
  padding: 10px;
  width: 170px;
  display: block;
  border: 1px solid #ccc;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  -moz-box-shadow: -5px 0px 5px #cccccc;
  -webkit-box-shadow: -5px 0px 5px #cccccc;
  -o-box-shadow: -5px 0px 5px #cccccc;
  box-shadow: -5px 0px 5px #cccccc;
  border-right: 0px;
  position: relative;
  left: 9px;
  font-size: 1.1em;
}
/* line 46, sass/_new_layout.scss */
.page-content .page-content-new .side-tab ul a.sel {
  color: #000;
}
/* line 52, sass/_new_layout.scss */
.page-content .page-content-new .side-tab-content {
  float: left;
  width: 720px;
  padding: 10px;
  background: #fff;
  min-height: 280px;
}
/* line 59, sass/_new_layout.scss */
.page-content .page-content-new .side-tab-content h2 {
  font-size: 1.2em;
  color: #000;
  padding: 5px 10px 10px 5px;
  float: left;
}
/* line 67, sass/_new_layout.scss */
.page-content .page-content-new .side-tab-content a.btn {
  float: right;
}
/* line 71, sass/_new_layout.scss */
.page-content .page-content-new .side-tab-content .filter_bar {
  background: blanchedalmond;
}
