<fieldset>
  <div>
    <label class="key">Display Name</label>
    <input type="text" id="txt_display_name_options">
  </div>
  <div>
    <label class="key">Help Text</label>
    <textarea id="txt_help_text_options"></textarea>
  </div>
  <div>
    <label class="key">Options<span>(Enter each option on a new line)</span></label>
    <textarea id="txt_options"></textarea>
  </div>
</fieldset>