<fieldset>
  <div>
    <label class="key">Display Name</label>
    <input type="text">
  </div>
  <div>
    <label class="key">Help Text</label>
    <textarea></textarea>
  </div>
  <div>
    <label class="key">Options<span>(Enter each option on a new line)</span></label>
    <textarea></textarea>
  </div>
</fieldset>