<h1 class="no_border">Forms</h1>
<div class="page-content-new form_page">
  <div class="side-tab-content full_width">
  <div><%= t("forms.messages.use_existing") %></div>
    <%= render :partial => 'form_section/form_section' %>
  </div>
</div>
