<h2>Create form</h2>
<p>We encourage you to use the existing forms as this makes data sharing and data merging between institutions easier.</p>
<% form_for :form_section, :url => formsections_path(), :html => {:method => :post, :class => "new-form-section default-form"}  do |f| %>  
  <p>
     <label for="form_section_name">Name</label>
     <%= f.text_field :name %></p>
  <p>
     <label for="form_section_description">Description</label>
     <%= f.text_area :description %></p>
  <p class="checkbox">
     <%= f.check_box :enabled, {:checked => true}, :true, :false %>
     <label for="form_enabled">Enabled</label>
  </p>
   <p class="submitButton">
      <input name="commit" type="submit" value="Save Form"/>
   </p>
<% end %>