<fieldset>  
  <h3>Devices</h3>  
  <table class="devices">
    <thead>
      <tr>
        <th>IMEI</th>
        <th>Blacklisted?</th>
      </tr>
    </thead>
    <tbody>
      <% devices.each do |device| %>
        <tr>
          <td><%= device.imei %><%= hidden_field_tag "user[devices][][imei]", device.imei %><%= hidden_field_tag "user[devices][][user_name]", device.user_name %></td>
          <td><%= check_box_tag "user[devices][][blacklisted]", true, device.blacklisted?  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
