<div class="device-information">
    <h3>Device Information</h3>
    <table>
      <tr>
          <th>Timestamp</th>
          <th>IMEI</th>
          <th>Mobile Number</th>
      </tr>


    <% @user.mobile_login_history.reverse.each do |event| %>
      <tr>
        <td><%= event[:timestamp].in_time_zone(@user.time_zone) %></td>
        <td><%= event[:imei] %></td>
        <td><%= event[:mobile_number] %></td>
      </tr>
    <% end %>

    </table>

</div>