h2= t("users.label")
- if can? :create,User
  = link_to content_tag(:span, t("users.create"), :class => 'create_user'), new_user_path, :class => 'btn'
.clearfix
form.filter_bar
  .show_count
    = t("users.actions.show_all")
    = " "
    = pluralize(@users.length, t("user.label"))
  .float_left
    = t("users.actions.show")
    | : #{select_tag :filter, options_for_select([[t("children.filer_by.active"),"active"],[ t("children.filer_by.all"), "all" ]], params[:filter]), { :onchange => "this.form.submit();"}}
  .float_left
    = t("users.sort_by.label")
    | :  #{select_tag :sort, options_for_select([[t("users.sort_by.full_name"),"full_name"],[ t("login.username"), "user_name"]], params[:sort]), { :onchange => "this.form.submit();"}}
table#users.list_table
  thead
    thead
      = render :partial => 'users_header'
    tbody
      = render :partial => 'user', :collection => @users

