h1.no_border= I18n.t("user.manage_password")
.page-content-new
  .side-tab-content.full_width
    = form_for @change_password_request, :url => update_password_users_path, :html => { :class => '' } do |f|
      = f.error_messages :header_tag => :h3
      - @change_password_request.errors.clear
      fieldset
        p
          = f.label :old_password, I18n.t("user.old_password"), :class => 'key'
          = f.password_field :old_password
        p
          = f.label :new_password, I18n.t("user.new_password"), :class => 'key'
          = f.password_field :new_password
        p
          = f.label :new_password_confirmation, I18n.t("user.new_password_confirmation"), :class => 'key'
          = f.password_field :new_password_confirmation
      .btn_panel
        = submit_button I18n.t("buttons.save")
