h1.no_border= t("users.label")
.page-content-new
  = render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'}
  .side-tab-content
    h2
      = link_to t("users.label"), users_path
      |  &gt; #{t("users.create")}
    = render :partial => "editable_user", :object => @user


