<h1>Users</h1>
<div class="page-content-new">
  <div class="side-tab">
    <ul>
      <li><a href="#" class="sel">Users</a></li>
    </ul>
  </div>
  <div class="side-tab-content">
<%= render :partial => "editable_user", :object => @user %>
      </div>
    </div>
