<p class="file">
  <%= label_tag "child[audio]", "Recorded Audio", :class=>'key' %>
  <%= file_field_tag "child[audio]" %>

  <ul class="audio_player_section">
    <%= render :partial => "shared/field_display_audio", :locals => {:field => nil, :model => model} %>
  </ul>

  <% if audio_upload_box.help_text.present? %>
      <br/>
  <span class='help-text-container'>
    <span class='help-text'>
      <%= audio_upload_box.help_text %>
    </span>
  </span>
  <% end %>
</p>
