<p>
  <span class="tool-tip-label">

	<%= label_tag check_boxes.tag_name_attribute(model), t(check_boxes.name, :default => check_boxes.display_name), {:class=>"key"}%>

  </span>
    <span class="checkbox">
	    <% check_boxes.options.each do |option| %>
				<%= check_box_tag check_boxes.tag_name_attribute(model)+"[]", option.option_name, (model[check_boxes.name]||[]).include?(option.option_name), :id => option.tag_id(model)  %>
				<%= label_tag option.tag_id(model), option.option_name %>
		<% end %>
    </span>

  <%= image_tag "new/icon_help.png", title: check_boxes.help_text, class: 'tool-tip-icon vtip' if check_boxes.help_text.present? %>
</p>
