<% if model && model.has_valid_audio? %>
    <% if model.audio %>
        <div class="audio">
            <li>
              <span class="profile-section-label"><%= field ? field.display_name : 'Current Audio' %>:</span>
              <%= link_to "download", audio_url_for(model), {:id => "audio_link"} %></li>
            <% if playable_in_browser?(model.audio) %>
                <li class="audio_player">

                  <%= render :partial => "shared/audio_player" %>

                </li>
            <% end %>
        </div>
    <% end %>
<% end %>
