<!-- Photo fields are not shown inline-->

<% content_for :javascript do %>
<script type="text/javascript" language="javascript">

$(function() {
    $('.thumbnails .thumbnail a').lightBox({fixedNavigation:true,
            imageLoading:			'/images/lightbox-ico-loading.gif',
            imageBtnPrev:			'/images/lightbox-btn-prev.gif',
            imageBtnNext:			'/images/lightbox-btn-next.gif',
            imageBtnClose:			'/images/lightbox-btn-close.gif',
            imageBlank:				'/images/lightbox-blank.gif'
    });
});
</script>
<% end %>

<div class="clearfix"></div>
<div class="thumbnails photos">
  <% model.photos.each do |photo| %>
      <div class="thumbnail"><%= link_to thumbnail_tag(model, photo.name), child_resized_photo_path(model, photo.name || model.current_photo_key, 328, :ts => model.last_updated_at) %></div>
  <% end %>
</div>
<div class="clearfix"></div>