<p>
  <span class="tool-tip-label">
      <%= label_tag numeric_field.tag_name_attribute(model), t(numeric_field.name, :default => numeric_field.display_name) , :class=>'key'%>
  </span>
  <% klass = model.errors[numeric_field.name] == nil ? "" : "field-error"%>
  <span class="<%= klass %>">
    <%= text_field_tag numeric_field.tag_name_attribute(model), model[numeric_field.name] %>
  </span>

  <%= image_tag "new/icon_help.png", title: numeric_field.help_text, class: 'tool-tip-icon vtip' if numeric_field.help_text.present? %>

</p>
