<div class="side-tab">
  <%= render :partial => "shared/tabs", :object => @form_sections %>

  <ul class="tab-handles">
    <li>
      <a href="#tab_potential_matches"><%= t('enquiry.matches') %></a>
    </li>
  </ul>

</div>
