<% if is_admin? %>
  <% @notifications = PasswordRecoveryRequest.to_display %>
  <% unless @notifications.empty? %>
    <p>These users requested password reset. Please contact them immediatly.<ul>
    <ul>
      <% @notifications.each do |notification| %>
        <li><%= "#{notification.user_name} at #{time_ago_in_words notification.created_at} ago #{link_to("hide", hide_password_recovery_request_path(notification), :method => :delete)}" %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
