<li>
    <% if to_value == 'true' %>
        <%= datetime %> Record flagged as possibly suspect or duplicate by <%= user_name %>
    <% else %>
        <%= datetime %> Flag was removed by <%= user_name %>
    <% end %>
</li>