<% @child['histories'].each do |history| %>
	<% if history['changes']['current_photo_key'] %>
		<%= render :partial => "photo_record", 
			:locals => {
				:from_key => history['changes']['current_photo_key']['from'],
				:to_key => history['changes']['current_photo_key']['to'],
				:datetime => history['datetime'],
				:user_name => history['user_name'] } %>
	<% end %>
<% end %>
<li><%= @child['created_at'] %> Record created by <%= @child['created_by'] %></li>