.entity_list {
  @extend .clearfix;


  .entity_summary_panel {
    background: $bg-child-summary;
    border: 1px solid $border-child-summary;
    @include borderRadius(2px);
    margin: 10px 0px;
    float:left;
    width: 100%;
    @extend .clearfix;

    p.checkbox{
      background: #EEE;
      border: 1px solid #D4D1D1;
      border-right:0px;
      left: -231px;
      padding: 5px;
      position: absolute;
      top: -1px;
    }

    .photo_panel {
      float: left;
      width: 160px;
      height: 160px;

      margin:10px;
      background: #fff;
      border: 10px solid #fff;
    }

    .photos, .audio{
      margin-right: 220px;
    }

    .photos .thumbnail{
      float: left;
      margin: 2px;
      height: 140px;
    }

    .summary_panel {
      float: left;
      padding: 10px 10px 10px 0px;
      width:auto;
      max-width: 78%;
      min-width: 70%;
      position: relative;

      h2 {
        font-size: 1.4em;

        padding:5px 10px 10px 0px;
      }

      .flag{
        position:absolute;
        top:0px;
        width:22px;
        height:36px;
      }

      .reunited{
        right:10px;
        background:image-url('new/icon_reunited.png') no-repeat;
      }

      .suspect{
        right: 40px;
        background:image-url('new/icon_flagged.png') no-repeat;
      }

      .photowall {
        right: 70px;
        background: image-url('new/icon_photowall.png') no-repeat;
      }

      .summary_item{
        @extend .clearfix;
        border-top: 1px solid #ddd;
        font-size: 0.95em;

      .key {
        color: #666;
        padding:10px 0px 10px 20px;
        float: left;
        width:180px;
      }
      .value {
        color: #000;
        padding:10px;
        float:left;
        /*width:470px;*/

      }
      }

    }

    .action_panel {
      background: #e8e8e8;
      padding: 5px 10px 8px;
      border-top: 1px solid $border-child-summary;
      font-size: 1.3em;
      color:#aaa;

        a{
            margin:0px 10px;
            font-size: 0.8em;
        }

      li{
        display: inline;
      }

    }
  }

  .results-count{
    float: right;
    margin: 0 26px 0 0;
    color: #4b515f;
  }

  .child_summary_panel.sel{
    background:#e5efff;
    border:1px solid #bdd7ff;

    p.checkbox{
      background:#e5efff;
      border:1px solid #bdd7ff;
      border-right: 0px;
    }
  }
}

