body {
  background: image-url('new/bg_body.png') repeat-x;
  font: $default-font-size $default-font-family;
  background-attachment: fixed;


  .page_container {
    width: 980px;
    margin: 20px auto;
    text-align: left;

    header {
      background: $bg-header;
      padding: 15px;
      @extend .clearfix;

      .logo {
        background: url('/logo.png') no-repeat;
        float: left;
        width: 200px;
        height: 35px;
        @include hide_text;

      }
      .links {
        float: right;
        color: $header-text-color;

        a {
          padding-bottom:2px;
          color:#76bcfd;
          margin:0px 5px;
          border-bottom: 1px dashed #76bcfd;

          &:hover{
            color:#b0d8fd;
            border-bottom:1px solid #b0d8fd;
          }
        }
      }
    }

    .main_bar {
      background: $bg-main-nav;
      margin-top: 1px;
      @extend .clearfix;

      nav {
        float: left;

        ul {
          list-style: none;

          li {
            display: inline-block;
            height: 30px;
            border-right: 1px solid #111;

            a {
              padding: 7px 17px;
              color: $main-nav-color;
              display: block;
              font-size: 1.1em;
            }
            a:hover {
              color: $main-nav-hover-color;
            }
            a.sel {
              color: $main-nav-sel-color;
              background: image-url('new/main_tab_pointer.png') no-repeat center 30px;
              height: 45px;
            }
          }
        }
      }

      .search {
        float: right;
        margin: 3px 5px 0px 10px;

        a {
          padding-bottom:2px;
          color:#76bcfd;
          margin:0px 5px;
          border-bottom: 1px dashed #76bcfd;

          &:hover{
            color:#b0d8fd;
            border-bottom:1px solid #b0d8fd;
          }
        }

        input[type=button], input[type=submit]{
          margin-top:0px;
          padding:3px 5px;
        }
      }
    }
    .page-content {
      background: #fff;
      margin-top: 20px;
      padding: 10px;
      min-height: 400px;

      h1 {
        font-size: 1.5em;
        border-bottom: 1px solid #d4d4d4;
        color: $text-color;
        padding: 5px 10px 10px 0px;
      }

      .btn {
        float: right;
      }

      .flag-message {
        padding: 10px;
        font-weight: normal;
        font-size: 1.2em;
      }

      #interviewer_details {
        padding: 10px;
      }

      .page-content-new {
        @extend .clearfix;
        border-bottom: 1px solid #d4d4d4;
        border-top: 1px solid #d4d4d4;
        background: #eee;
        min-height: 300px;

        .side-tab {
          float: left;
          width: 200px;
          height: 100%;

          ul {
            list-style: none;
            margin-top: 10px;
            list-style-position: inside;

            li {
              margin: 5px 0px;

              a {

                padding: 10px;
                width: 170px;
                display: block;

                position: relative;
                left: 9px;
                font-size: 1.1em;
                color: #aaa;

                &:hover {
                  color: #666;
                }
              }

            }

            li.current {
              a {
                color: #000;
                background: #fff;
                border: 1px solid #ccc;
                @include borderRadius(5px 0px 0px 5px);
                @include boxShadow(-5px 0px 5px #ccc);
                border-right: 0px;
              }
            }
          }
        }

        .side-tab-content {
          float: left;
          width: 740px;
          padding: 10px;
          background: #fff;
          min-height: 350px;
          /* position: relative;*/

          h2 {
            font-size: 1.2em;
            color: #000;
            padding: 5px 10px 10px 5px;
            float: left;

          }

          .btn {
            float: right;
          }

          div.mandate_panel {
            float: right;
            font-style: italic;

            span {
              color: red;

            }
          }

          .filter_bar {
            background: $bg_filterbar;
          }

          .form_info {
            border-top: 1px solid #ccc;
            padding: 10px 0px;
            font-style: italic;
            color: $form_info;
          }

          input[type=text], input[type=password], input[type=file], textarea, select {
            width: 250px;

          }

          .profile-image {
            float: right;
            padding: 10px;
            background: #fff;
            right: 0px;
            width: 200px;
            min-height: 200px;
            top: 50px;

            img {
              max-width: 100%;
              max-height: 100%;
            }

            .thumbnails {
              padding: 10px;
            }

            .edit_photo, .manage_photo{
              padding:2px 10px;
              margin:1px;
              background: #eee;
              border:1px dashed #bbb;
              @include borderRadius(2px);

              &:hover{
                border:1px solid #bbb;
              }
            }
          }

          .choose_field {
            padding: 10px;

            p {
              font-style: italic;
              padding: 0px 0px 10px 0px;
            }

            li {
              padding: 5px;
            }
          }

          .btn_panel {
            padding: 5px;
            border-top: 1px solid #ccc;
            text-align: right;

            a {
              margin: 0px 20px;
              padding: 0px 20px;
              border-right: 1px dashed #999;
              text-decoration: underline;
            }
          }

        }

      }
    }
  }
}

.notice{
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  color: green;
  border:1px solid green;
  padding: 5px;
}

.errorExplanation{
  text-align: left;
  font-size: 15px;
  border:1px solid red;
  padding: 5px;
  ul li{
    color: red;
  }
}



.login_page{
  text-align:center;

  .login_panel{
    text-align: left;
    width:300px;
    margin:30px auto;
    padding:10px;
    background: image-url('new/bg_login.png') repeat-x #eee;
    border:3px solid #fff;
    @include borderRadius(3px);
    @include boxShadow(0px 0px 3px #aaa);

    h3{
      font-size: 1.2em;
      font-weight: bold;
      padding-bottom: 7px;
      border-bottom: 1px solid #aaa;
      margin-bottom: 10px;
    }

    p{
      padding: 10px 15px;

      label{
        width:70px;
        display: inline-block;
      }
    }

    .btn_panel{
      border-top: 1px solid #aaa;
      margin-top: 10px;
      text-align: right;
    }
  }

  a{
    margin:0px auto;
    display: inline-block;
  }
}

.edit_photo_page{

  .profile-header{
    @extend .clearfix;

    label, div{
      float:left;
      padding:5px;
    }

  }

  .profile-image{
    width: 520px;
    height: 320px;
    background: #eee;
    padding:10px;
    text-align: center;
    border:1px dashed #ddd;
    margin-left: 220px;

    img, canvas{
      max-width: 500px;
      max-height: 300px;
    }
  }

  .profile-tools{
    border: none;
    margin: 10px 0px 10px 170px;
    padding:0px 10px 10px;

    a{
      background:image-url('new/photo_rotate.png') no-repeat #eee;
      padding:6px 0 6px 30px;
      border:1px dashed #bbb;
      @include borderRadius(2px);
      width:170px;
      text-align: left;
      color:#666;

      &:hover{
        border:1px solid #bbb;
        color:#333;
      }
    }

    a.rotate_anti_clockwise{
      background-position: 5px 2px;

      &:hover{
        background-position: 5px -87px;
      }
    }

    a.rotate_clockwise{
      background-position: 5px -27px;

      &:hover{
        background-position: 5px -116px;
      }
    }

    a.restore_image{
      background-position: 5px -56px;

      &:hover{
        background-position: 5px -145px;
      }
    }
  }

  .btn_panel{
    padding: 5px;
    border-top: 1px solid #ccc;
    text-align: right;
  }
}
.advanced-search{
  padding-bottom: 10px;
  border-bottom: 1px solid #D4D4D4;
  .filter_bar{

    div{
      float: left;
      padding: 5px 15px;
    }

    .help-text{
      font-style: italic;
      color:#666;
      border-top: 1px solid #ffdeaa;
      margin-top:8px;
      padding-top:10px;
      font-size: 0.9em;
    }

    .sub_label{
      color:#666;
      font-style: italic;
      font-size: 0.9em;
    }

  }

  .help-text{
    padding: 10px 0px;
  }

  .criteria-list{
    padding:10px;

    p{
      padding:7px;
      border-bottom: 1px solid #fff;

      &:nth-child(odd){
        background: #f6f6f6;
      }

      &:nth-child(even){
        background: #f1f1f1;
      }

      label.userlabels{
        width:398px;
        display:inline-block;
      }

      label.sub_label{
        font-size: 0.9em;
        font-style: italic;
        color:#666;
      }
    }

    .select-criteria{
      width:300px;
      display: inline-block;
      padding:0px 5px;
      cursor: pointer;
    }
    .select-criteria:first-child{
      width:387px;
    }
    .criteria-values{

    }
    .remove-criteria{
      cursor: pointer;
      color:red;
      padding:0px 5px;
    }

  }

  .add-criteria{
    padding:5px;
    border-bottom:1px dashed #76BCFD;
    cursor: pointer;
    margin-right: 765px;

    &:hover{
      border-bottom: 1px solid #b0d8fd;
    }
  }
}

.manage_photos{

  .thumbnails{
    padding:10px;

    div{
      float: left;

      .thumbnail{
        background:#fff;
        padding:10px;
        margin:10px;
        cursor: pointer;
        float:none;
      }

      .thumbnail.selected{
        background: #aaccff;
      }
    }

    div.flash{
      @extend .clearfix;
    }
  }

  .btn{
    float: left !important;
  }
}

.contact_info_page{
  padding:0px 20px;
  div{
    padding:20px 0px;
    font-style: italic;
  }
  p{
    padding:10px;

    strong{
      display:inline-block;
      width:200px;
    }

    &:nth-child(odd){
      background: #f6f6f6;
    }

    &:nth-child(even){
      background: #f1f1f1;
    }
  }

}

.replication-page {
  table {
    td {
      vertical-align: middle;
      min-height: 20px;

      &.status {
        padding-right: 0;

        .icon {
          display: none;
          width: 20px;
          height: 20px;
        }

        .icon.triggered {
          display: inline-block;
          background: url('../images/new/icon_replicate_triggered.gif') no-repeat;
        }
      }
    }
  }
}

.form_page{
  .form_delete {
    position: absolute;
    margin-top: -36px;
    padding: 0 0 0 15px;
    text-decoration: underline;
    color: red;
  }

  .form_details_panel{
    background: #eee;
    border:1px solid #ddd;
    border-radius: 5px;
    padding:10px;



    .chkbox_visible{
      padding:10px;
    }
  }

  .default_lang_panel{
    float:left;
    padding:5px;
    width:445px;
  }
  .translation_lang_panel{
    float:left;
    padding:5px;
    width:445px;

    .translation_lang_selected{
      padding-left:5px;
      color:#000;
    }
  }

  .lang_title{
    color:#666;
    min-height: 25px;
    border-bottom:1px solid #ccc;
    margin-bottom: 10px;

    span{
      color:#000;

    }

    select{
      width:auto !important;
      padding:0px !important;
      font-size: 0.8em;
    }
  }

  fieldset{
    background: #fff;
    border-radius: 5px;
    padding:10px 0px;

    div{
      @extend .clearfix;
      padding:7px 10px;


      .key{
        width:165px;
        float:left;
      }
      input, textarea{
        float: left;
      }

      textarea{
        height: 50px;
      }
    }
  }

  h3{
    border-bottom:1px solid #aaa;
    font-size:1.1em;
    font-weight: bold;
    padding:20px 0px 0px;
    @extend .clearfix;

    .add_field{
      padding:5px;
      float:right;
      font-weight: normal;
      font-size: 0.9em;
    }
  }

  .field_details_overlay{
    background: #000;
    @include opacity(0.7);
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
  }

  .field_details_panel{
    background: #eee;
    border:1px solid #ddd;
    border-radius: 5px;
    padding:10px;
    @include opacity(1);
    width:920px;
    margin:40px auto 0px;
    position: absolute;
    top:0;

    ul.field_types{
      border-bottom: 1px solid #ccc;
      margin-bottom:10px;
      li{
        float:left;
        padding:5px 15px 15px;

        a{
          padding:5px 10px;

          &.sel{
            background:#1d76fb;
            color:#fff;
            @include borderRadius(15px);
          }
        }
      }

    }
  }


}
.text_info{
  padding:10px 10px 0px;
  color:#179b05;
  font-size:1.1em;
  font-style: italic;
}
table#form_sections{
  cursor:move;

  tr:hover{
    td{
      background:#c3e9fe;
    }
  }

  tr.ui-sortable-helper{
      border:1px dashed #2179c4;

  }

  .field-buttons{

    a{
      border-left:1px dashed #666;
      padding:5px 8px;

      &:first-child{
        border:0px;
      }

      &:hover{
        color:#333;
      }

      &.sel{
        background:#ffcd8c;
        @include borderRadius(5px 5px 0px 0px);
        color:#000;
      }
    }

    .move_to_panel{
      position: absolute;
      padding:10px;
      background:#ffcd8c;
      @include borderRadius(5px);
      @include boxShadow(2px 5px 4px #666);

      select{
        width:200px;
      }
    }
  }
}
