$default-font-size: 13px;
$default-font-family:verdana, arial, helvetica, sans-serif;
$text-color: #333;
$link-color: #1d76fb;
$link-hover-color:#0096ff;
$btn-text-color: #555;
$btn-hover-text-color: #000;

$bg-header: #30343d;
$header-text-color: #fff;
$bg-main-nav:#4b515f;
$main-nav-color:#ccc;
$main-nav-hover-color:#eee;
$main-nav-sel-color:#fff;


$bg-textbox: #fff;
$bg-gray-btn: image-url('new/bg-gray-btn.png') #cfcfcf repeat-x;
$bg-gray-btn-hover: image-url('new/bg-gray-btn-hover.png') #bababa repeat-x;

$bg-filterbar: #ffebcd;
$border-filterbar: #ffce81;

$bg-table-header: #4b515f;
$text-color-table-header: #fff;

$bg-child-summary: image-url('new/bg_child_record.png') repeat-x #fdfdfd;
$border-child-summary:#d4d1d1;

$form_info:#b66f00;
