base: &base
  host: localhost
  port: 5984
  database_prefix: rapidftr_
  database_suffix: _<%= Rails.env %>
  username: ""
  password: ""
  ssl: false

development:
  <<: *base

test:
  <<: *base

cucumber:
  <<: *base

uat:
  <<: *base

android:
  <<: *base

production:
  <<: *base
