<h1 class="no_border"><%= t "replication.create" %></h1>

<div class="page-content-new replication-page">
  <div class="side-tab-content full_width">
    <%= render :partial => 'form' %>
  </div>
</div>
