<h1><%= t("admin.highlight_fields") %></h1>
<table class="highlight-fields list_table">
  <thead>
  <tr>
    <th><%= t("fields.form_name") %></th>
  </tr>
  </thead>
  <tbody id="highlighted-fields">
  <% @forms.each do |f| %>
      <tr class="add-field-section">
        <td><%= link_to "#{f.name}", highlight_field_path(f) %></td>
      </tr>
  <% end %>
  </tbody>
</table>