
<% form_tag highlight_fields_path, :method => :post do %>
  <table class="highlight-fields">
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Form Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="highlighted-fields">
      <tr class="add-field-section">
       <td></td>
       <td></td>
       <td><a class="add-field">add</a></td>
      </tr>
    </tbody>
  </table>

  <%= submit_button %>

<% end %>


<script id="highlight-field-template" type="text/x-jquery-tmpl"> 
  <tr>     
    <td>${display_name}</td>
    <input type="hidden" name="fields[][field_name]" class="highlighted-field-name" value="${field_name}"/>
    <input type="hidden" name="fields[][form_name]" class="highlighted-form-name" value="${form_name}"/>
    <input type="hidden" name="fields[][order]" class="highlighted-field-order" value="${order}"/>
    <td>${form_name}</td>
    <td></td>
  </tr>
</script>

<script> 

var updateWithSelectedItem = function(selectedElement){
  $(".add-field-section").before($("#highlight-field-template").tmpl(selectedElement));		
}

<% if @highlighted_fields %>
  $(".add-field-section").before($("#highlight-field-template").tmpl(<%=@highlighted_fields.to_json %>));
<% end %>

</script>

<%= render :partial => "shared/form_fields", :locals => { :menu_selector => ".add-field" , 
                                                          :on_item_select => "updateWithSelectedItem", 
                                                          :prev_selected_field_selector => ".highlighted-field-name"} %>
