<%= javascript_include_tag "backbone.js" %>
<%= javascript_include_tag "underscore.js" %>

<div class="thumbnails">
  <%# <% @child.photos.each do |photo| %>
    <%# <div class="thumbnail"><%= link_to image_tag(child_resized_photo_path(@child, 328)), child_resized_photo_path(@child, 640) %>
  <%# <% end %>
</div>
