
<h1 class="float_left no_border"><%= link_to 'Children', children_path %> &gt; <%= link_to @child.name, child_path(@child) %> (<%= @child.short_id %>) &gt; Manage photo</h1>
<script type="text/javascript">
    $(function() {
      window.Photos.refresh(<%= @photos_details.to_json.html_safe %>);
  });
</script>
 <div class="clearfix"></div>
<div class="profile-tools">
  <ul>
    <li class=""><a href="#" id="selectPrimaryPhotoButton">Choose as primary photo</a></li>
  </ul>
</div>

<div class="thumbnails">
  <div class="flash" style="display:none"><div id="notice" class="error"></div></div>
</div>


