.profile-tools {
    border: 1px solid #667788;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
}
.profile-tools ul {
    margin-bottom: 0;
    text-align: right;
}
.profile-tools li {
    background-image: none;
    float: left;
    font-weight: bold;
    padding: 3px;
}
.profile-tools li a {
    background: url("../images/icon-download.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding: 3px 15px 3px 30px;
}
.profile-tools li.edit a {
    background-image: url("../images/icon-edit.gif");
}
.profile-tools li.back a {
    background-image: url("../images/icon-back.gif");
}
.profile-tools li.no-fancy-smancy-js-back a {
    background-image: url("../images/icon-back.gif");
}
.profile-tools li.view-log a {
    background-image: url("../images/icon-calendar.gif");
}
.profile-tools li.flag a {
    background-image: url("../images/icon-flag.gif");
}
.profile-tools li.reunited a {
    background-image: url("../images/icon-reunited.gif");
}
.profile-tools li.investigated a {
    background-image: url("../images/icon-search-lense.png");
}
.profile-tools li a:hover {
    color: #FF9933;
}
.profile-tools .mark-as-form h3 {
    display: inline;
}
.profile-tools .mark-as-form input {
    display: inline;
}
.profile-tools .mark-as-form {
    float: left;
    margin: 0;
}
.advanced-search .error{
    color: red;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid red;
    font-size: 15px;
    font-weight: bold;
}

.error {
  color: red;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid red;
  padding: 5px;
}
