<fieldset>
  <legend>Add New Field</legend>
  <div class="subtitle">
    <h2>1. Choose Field Type</h2>
  </div>
  <div class="content">
    <ul>
      <li><%=link_to "TextField", new_text_field_field_path%> </li>
      <li><%=link_to "TextArea", new_textarea_field_path%></li>
      <li><%=link_to "Check box", new_check_box_field_path%></li>
      <li><%=link_to "Select drop down", new_select_drop_down_field_path%></li>
    </ul>
  </div>
</fieldset>
