<fieldset>
  <legend>Add New Field</legend>
  <div class="subtitle">
    <h2>1. Choose Field Type</h2>
  </div>
  <div class="content">
    <ul>
      <li><a href="text_field">TextField</a></li>
      <li><a href="text_area">TextArea</a></li>
      <li><a href="check_box">Checkbox</a></li>
      <li><a href="select_drop_down">Select Dropdown</a></li>
    </ul>
  </div>
</fieldset>
