
<p>
  <label class="key"><%= t(field.name, :default => field.display_name) %>:</label>
  <span class="value"><%= field_value_for_display (@enquiry[field.name] ? @enquiry[field.name] :
    (@enquiry[:criteria] || @enquiry)[field.name]) %></span>
</p>
