<fieldset id='tab_potential_matches' class='tab'>
  <% confirmed_match = @enquiry.confirmed_match %>
  <% unless confirmed_match.nil? %>
    <div class="clearfix"></div>
    <h2><%= t('enquiry.confirmed_child_matches') %></h2>
    <div class="clearfix"></div>
    <div class="form_info"></div>
    <div class="entity_list">
      <%= render :partial => "children/summary_row", :locals => {:child => confirmed_match, :checkbox => false, :highlighted_fields => child_sorted_highlighted_fields, :rendered_by_show_enquiry => true, :confirmed_match => confirmed_match } %>
    </div>
  <% end %>

  <div class="form_info"></div>
  <div class="clearfix"></div>
  <h2><%= t('enquiry.potential_child_matches') %></h2>
  <div class="clearfix"></div>
  <div class="form_info"></div>
  <div class="entity_list">
    <% @enquiry.potential_matches.each do |child| %>
      <%= render :partial => "children/summary_row", :locals => {:child => child, :confirmed_match => confirmed_match, :checkbox => false, :highlighted_fields => child_sorted_highlighted_fields, :rendered_by_show_enquiry => true} %>
  <% end %>
  </div>
</fieldset>
