<%= render :partial => "enquiries/header", :locals => { :heading_text => t('enquiry.enquiries_with_potential_matches'), :show_action_buttons => false} %>
<div class="clearfix"></div>

<div class="entity_list">
  <%= render :partial => "enquiries/summary_row", :collection => @enquiries, :as => :enquiry, :locals => {:checkbox => false, :highlighted_fields => enquiry_sorted_highlighted_fields} %>

  <div class="clearfix"></div>
  <%= render :partial => 'shared/pagination', :locals => {:results => @enquiries} %>
</div>

<br/>
